<div class="characteristic">
    {{> systems/dark-heresy/template/sheet/characteristics/information.html}}
    {{> systems/dark-heresy/template/sheet/characteristics/total.html}}
    {{> systems/dark-heresy/template/sheet/characteristics/name.html}}
</div>
