/* TAB COLORS */
#sidebar-tabs > .item {
line-height: 31px;
}
#sidebar-tabs > .collapse {
  color: #483d33;
}

#sidebar.collapsed #sidebar-tabs > .item.active {
  border: 1px solid transparent;
}

#sidebar-tabs > .item.active {
  color: #f1f7fd;
  box-shadow: 0 0 10px inset #483d33;
  text-shadow: 0 0 5px #483d33;
  border: 1px solid black;
  border-bottom: none;
}

#sidebar-tabs {
  color: #483d33;
  border-bottom: 1px solid #000;
  box-shadow: 0 0 10px #483d33;
}

#sidebar-tabs a:hover {
color: #FFF;
text-shadow: 0 0 8px #483d33, 0 0 8px #483d33, 0 0 8px #483d33;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgba(255, 255, 255, 0.25);
}

/* BORDER SHENANIGANS */
.subdirectory,
.subdirectory .folder,
.sidebar-tab .directory-list .entity,
li.folder > .folder-header,
.sidebar-tab .directory-list .folder + .entity,
.sidebar-tab .directory-list .entity:last-child,
.sidebar-tab .directory-list .directory-item {
border: none;
line-height: 34px
}

/* MARGIN & PADDING SHENANIGANS */
.sidebar-tab .directory-list {
padding-left: 5px;
padding-right: 5px;
}

ol.subdirectory  {
margin-left: 5px;
padding-left: 5px;
}

.sidebar-tab .directory-list .entity {
margin-bottom: 2px;
padding-left: 5px;
}

/* FOLDER ICON SIZE */
li.folder > .folder-header h3 > i {
display: inline;
vertical-align: middle;
font-size: 2em;
}

#actors-popout {
width: fit-content !important;
}

/* SIDEBAR BACKGROUND & TEXT COLOR */
#sidebar, .sidebar-popout {
background: url('../../asset/image/heresy2.jpg') repeat;
background-position: center;
}

#sidebar, .sidebar-popout,
.app.sidebar-popout .window-content,
li.folder > .folder-header h3,
li.folder > .folder-header .create-folder, li.folder > .folder-header .create-entity {
color: #333;
}


li.folder > .folder-header,
li.folder.collapsed > .folder-header {
background-color: transparent;
line-height: 28px;
border-radius: 5px;
}

li.folder > .folder-header {
padding: 3px 4px 1px 0px;
background: #63452c87;
}

.sidebar-tab .directory-list .directory-item h3, .sidebar-tab .directory-list .directory-item h4 {
padding: 0px 6px;
font-size: 16px;
}

#playlists li.sound .sound-name {
font-size: 12px;
}

#compendium h3 {
background: rgb(115 10 0 / 30%);
}

#compendium ol.compendium-list {
font-size: 16px;
}

#compendium li.compendium-pack .compendium-footer {
font-size: 12px;
color: #333
}

.sidebar-tab .directory-list .directory-item img {
flex: 0 0 40px;
height: 40px;
width: 40px;
object-fit: cover;
object-position: 50% 0;
margin: 0 8px 0 2px;
border-radius: 5px;
}

/* SCENES MENU */
#scenes .scene h3 a:hover {
  color: #FFF;
  font-weight: normal;
  text-shadow: 1px 1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000;
}

#scenes .scene h3 {
  font-size: 1.5em;
  color: #FFF;
  text-shadow: 1px 1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000;
  line-height: 100px;
  padding-left: 0px;
}

#scenes .subdirectory {
  border-left: 1px solid rgba(51, 51, 51, 0.5);
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 0px 0px 0px 15px;
  padding-bottom: 10px;
}

#scenes .scene {
  position: relative;
  height: 100px;
  line-height: 100px;
  background-position: 50% 50%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 6px 0px -5px 5px;
  box-shadow: none;
}

/* PLAYLIST */
#playlists li.playlist .sound-control {
  font-size: 13px;
  color: #333;
}

#playlists li.global-volume input[type="range"] {
  border-radius: 5px;
  padding: 5px;
}

#playlists .global-control .playlist-header h4 i.fa,
#playlists li.playlist .playlist-header .playlist-name i.fa {
  color: #9e3c16;
  margin-left: 5px;
}

#playlists .sound-timer span,
#playlists i.volume-icon,
  #playlists i {
  color: #333;
}

#playlists .global-control .playlist-header {
    background: rgb(115 10 0 / 30%);
}

/* NAVIGATION BAR */
#navigation #scene-list .scene,
#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context {
border: 1px solid rgba(255, 255, 255, 0.25);
background: rgba(20, 50, 120, 0.9);
color: #FFF;
}

#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 5px rgba(255, 255, 255, 1);
}

#navigation #scene-list .scene.gm {
border: 1px solid rgba(255, 255, 255, 0.25);
background: rgba(51, 51, 51, 0.9);
color: #FFF;
}

#navigation #scene-list .scene.active,
#navigation #scene-list .scene.active.gm {
background: rgb(0 0 0 / 80%);
border: 1px solid rgba(255, 255, 255, 0.25); /* DkGreen */
}

#navigation #scene-list .scene a:hover {
font-weight: normal;
color: #FFF;
text-shadow: 0 0 12px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 0.75), 0 0 8px rgba(255, 255, 255, 0.5);
}

/* COMBAT TRACKER */
#combat #combat-round .encounters a,
#combat #combat-round .encounters h4,
#combat li.combatant .token-resource,
#combat li.combatant .token-name .combatant-control {
color: #333;
border: none;
}

#combat li.combatant .token-name,
#combat li.combatant .token-initiative .initiative {
font-size: 22px;
text-shadow: none;
}

#combat li.combatant .token-initiative {
  mix-blend-mode: difference;
}

#combat li.combatant.hover, #combat li.combatant:hover {
    background: rgba(140, 75, 30, 0.20);
}

#combat li.combatant.active {
    background: rgba(0, 0, 0, 0.25);
}

/* CHAT IMPROVEMENTS */
.chat-message {
  padding: 5px;
  color: #191813;
  font-size: 14px;
  background: #b7ac9ecc;
}

.chat-message.whisper {
    background: #ebc98c;
    font-size: 20px;
    color: red;
}

#chat-form textarea {
  width: 100%;
  height: 100%;
  resize: none;
  background: #b7ac9ecc;
}

/* MISC */
li.folder.collapsed > .folder-header {
  background: rgb(86 78 74 / 40%);
}

.window-app .window-content {
  background: url("../../asset/image/background.jpg") center;
}

::-webkit-scrollbar-thumb {
  background: #1b0f08b8;
  border: 1px solid #33333380;
}