<div class="dark-heresy chat roll">
    <div class="background border">
        <h1>{{itemName}}</h1>
        <p><button class="reload-Weapon">{{localize "CHAT.RELOAD"}}</button></p>
    </div>
</div>