<div class="dark-heresy chat item">
    <div class="background border">
        <h1>{{item.type}}&#58; {{item.name}}</h1>
        {{#if item.img}}
        <img src="{{item.img}}" title="{{item.name}}"/>
        {{/if}}

        {{#if item.isAmmunition}}
        <p><strong>{{localize "AMMUNITION.WEAPON"}}:</strong> {{data.weapon}}</p>
        <p><strong>{{localize "AMMUNITION.DAMAGE"}}:</strong> {{data.effect.damage.modifier}} {{item.damageType}}</p>
        <p><strong>{{localize "AMMUNITION.ATTACK"}}:</strong> {{data.effect.attack.modifier}}</p>
        <p><strong>{{localize "AMMUNITION.PENETRATION"}}:</strong> {{data.effect.penetration}}</p>
        <p><strong>{{localize "AMMUNITION.SPECIAL"}}:</strong> {{data.effect.special}}</p>
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        <p><strong>{{localize "AMMUNITION.WEIGHT"}}:</strong> {{data.weight}}</p>
        <p><strong>{{localize "AMMUNITION.CRAFTSMANSHIP"}}:</strong> {{item.craftsmanship}}</p>
        <p><strong>{{localize "AMMUNITION.AVAILABILITY"}}:</strong> {{item.availability}}</p>
        {{/if}}

        {{#if item.isArmour}}
        <p><strong>{{localize "ARMOUR.TYPE"}}:</strong> {{item.armourType}}</p>
        <p><strong>{{localize "ARMOUR.PART"}}:</strong> {{item.part}}</p>
        <p><strong>{{localize "ARMOUR.MAX_AGILITY"}}:</strong> {{data.maxAgility}}</p>
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        <p><strong>{{localize "ARMOUR.WEIGHT"}}:</strong> {{data.weight}}</p>
        <p><strong>{{localize "ARMOUR.CRAFTSMANSHIP"}}:</strong> {{item.craftsmanship}}</p>
        <p><strong>{{localize "ARMOUR.AVAILABILITY"}}:</strong> {{item.availability}}</p>
        {{/if}}

        {{#if item.isCriticalInjury}}
        <p><strong>{{localize "CRITICAL_INJURY.TYPE"}}:</strong> {{item.damageType}}</p>
        <p><strong>{{localize "CRITICAL_INJURY.PART"}}:</strong> {{item.partLocation}}</p>
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        {{/if}}

        {{#if item.isCybernetic}}
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        <p><strong>{{localize "CYBERNETIC.WEIGHT"}}:</strong> {{data.weight}}</p>
        <p><strong>{{localize "CYBERNETIC.CRAFTSMANSHIP"}}:</strong> {{item.craftsmanship}}</p>
        <p><strong>{{localize "CYBERNETIC.AVAILABILITY"}}:</strong> {{item.availability}}</p>
        {{/if}}

        {{#if item.isDrug}}
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        <p><strong>{{localize "DRUG.WEIGHT"}}:</strong> {{data.weight}}</p>
        <p><strong>{{localize "DRUG.CRAFTSMANSHIP"}}:</strong> {{item.craftsmanship}}</p>
        <p><strong>{{localize "DRUG.AVAILABILITY"}}:</strong> {{item.availability}}</p>
        {{/if}}

        {{#if item.isForceField}}
        <p><strong>{{localize "FORCE_FIELD.PROTECTION_RATING"}}:</strong> {{data.protectionRating}}</p>
        <p><strong>{{localize "FORCE_FIELD.OVERLOAD_CHANCE"}}:</strong> {{data.overloadChance}}</p>
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        <p><strong>{{localize "FORCE_FIELD.WEIGHT"}}:</strong> {{data.weight}}</p>
        <p><strong>{{localize "FORCE_FIELD.CRAFTSMANSHIP"}}:</strong> {{item.craftsmanship}}</p>
        <p><strong>{{localize "FORCE_FIELD.AVAILABILITY"}}:</strong> {{item.availability}}</p>
        {{/if}}

        {{#if item.isGear}}
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        <p><strong>{{localize "GEAR.WEIGHT"}}:</strong> {{data.weight}}</p>
        <p><strong>{{localize "GEAR.CRAFTSMANSHIP"}}:</strong> {{item.craftsmanship}}</p>
        <p><strong>{{localize "GEAR.AVAILABILITY"}}:</strong> {{item.availability}}</p>
        {{/if}}

        {{#if item.isMalignancy}}
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        {{/if}}

        {{#if item.isMentalDisorder}}
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        {{/if}}

        {{#if item.isMutation}}
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        {{/if}}

        {{#if item.isPsychicPower}}
        <p><strong>{{localize "PSYCHIC_POWER.PREREQUISITE"}}:</strong> {{data.prerequisite}}</p>
        <p><strong>{{localize "PSYCHIC_POWER.ACTION"}}:</strong> {{data.action}}</p>
        <p><strong>{{localize "PSYCHIC_POWER.FOCUS_POWER"}}:</strong> {{data.focusPower.test}} ({{data.focusPower.difficulty}})</p>
        <p><strong>{{localize "PSYCHIC_POWER.RANGE"}}:</strong> {{data.range}}</p>
        <p><strong>{{localize "PSYCHIC_POWER.SUSTAINED"}}:</strong> {{data.sustained}}</p>
        <p><strong>{{localize "PSYCHIC_POWER.SUBTYPE"}}:</strong> {{data.subtype}}</p>
        <p><strong>{{localize "PSYCHIC_POWER.ZONE"}}:</strong> {{psychicPowerZone data.damage.zone}}</p>
        <p><strong>{{localize "PSYCHIC_POWER.DAMAGE_FULL"}}:</strong> {{data.damage.formula}} {{item.damageType}}</p>
        <p><strong>{{localize "PSYCHIC_POWER.PENETRATION"}}:</strong> {{data.damage.penetration}}</p>
        <p><strong>{{localize "PSYCHIC_POWER.SPECIAL"}}:</strong> {{data.damage.special}}</p>
        <p><strong>{{localize "PSYCHIC_POWER.EFFECT"}}:</strong> {{{data.effect}}}</p>
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        {{/if}}

        {{#if item.isSpecialAbility}}
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        {{/if}}

        {{#if item.isTalent}}
        <p><strong>{{localize "TALENT.PREREQUISITES"}}:</strong> {{data.prerequisites}}</p>
        <p><strong>{{localize "TALENT.APTITUDES"}}:</strong> {{data.aptitudes}}</p>
        <p><strong>{{localize "TALENT.TIER"}}:</strong> {{data.tier}}</p>
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        {{/if}}

        {{#if item.isTool}}
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        <p><strong>{{localize "TOOL.WEIGHT"}}:</strong> {{data.weight}}</p>
        <p><strong>{{localize "TOOL.CRAFTSMANSHIP"}}:</strong> {{item.craftsmanship}}</p>
        <p><strong>{{localize "TOOL.AVAILABILITY"}}:</strong> {{item.availability}}</p>
        {{/if}}

        {{#if item.isTrait}}
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        {{/if}}

        {{#if item.isWeapon}}
        <p><strong>{{localize "WEAPON.CLASS"}}:</strong> {{item.weaponClass}}</p>
        <p><strong>{{localize "WEAPON.RANGE"}}:</strong> {{data.range}}</p>
        <p><strong>{{localize "WEAPON.RATE_OF_FIRE_FULL"}}:</strong> {{item.rateOfFire}}</p>
        <p><strong>{{localize "WEAPON.DAMAGE_FULL"}}:</strong> {{data.damage}} {{item.damageType}}</p>
        <p><strong>{{localize "WEAPON.PENETRATION_FULL"}}:</strong> {{data.penetration}}</p>
        <p><strong>{{localize "WEAPON.CLIP"}}:</strong> {{item.clip}}</p>
        <p><strong>{{localize "WEAPON.RELOAD_FULL"}}:</strong> {{data.reload}}</p>
        <p><strong>{{localize "WEAPON.SPECIAL"}}:</strong> {{data.special}}</p>
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        <p><strong>{{localize "WEAPON.WEIGHT"}}:</strong> {{data.weight}}</p>
        <p><strong>{{localize "WEAPON.CRAFTSMANSHIP"}}:</strong> {{item.craftsmanship}}</p>
        <p><strong>{{localize "WEAPON.AVAILABILITY"}}:</strong> {{item.availability}}</p>
        {{/if}}

        {{#if item.isWeaponModification}}
        <p><strong>{{localize "WEAPON_MODIFICATION.UPGRADES"}}:</strong> {{data.upgrades}}</p>
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        <p><strong>{{localize "WEAPON_MODIFICATION.WEIGHT"}}:</strong> {{data.weight}}</p>
        <p><strong>{{localize "WEAPON_MODIFICATION.CRAFTSMANSHIP"}}:</strong> {{item.craftsmanship}}</p>
        <p><strong>{{localize "WEAPON_MODIFICATION.AVAILABILITY"}}:</strong> {{item.availability}}</p>
        {{/if}}

        {{#if item.isAptitude}}
        <p><strong>{{localize "HEADER.DESCRIPTION"}}:</strong> {{{data.description}}}</p>
        {{/if}}
    </div>
</div>