<div class="dark-heresy chat roll">
    <div class="background border">
        <h1>{{name}} ({{target}})</h1>
        {{#if isSuccess}}
        <h3><span style="color: var(--color-success)">{{localize "CHAT.SUCCESS"}}</span> ({{result}})</h3>
        {{else}}
        <h3><span style="color: var(--color-failure)">{{localize "CHAT.FAILURE"}}</span> ({{result}})</h3>
        {{/if}}

        {{#if isSuccess}}
        <p><strong>{{localize "CHAT.DOS"}}:</strong> {{dos}}</p>
        {{#if numberOfHit}}
        <p><strong>{{localize "CHAT.NUMBER_OF_HIT"}}:</strong> {{numberOfHit}}</p>
        {{/if}}
        {{else}}
        <p><strong>{{localize "CHAT.DOF"}}:</strong> {{dof}}</p>
        {{/if}}
        {{#if psy.display}}
        {{#if psy.push}}
        <p><strong>{{localize "CHAT.PSY_RATING"}}:</strong> {{psy.value}} ({{localize "CHAT.PSY_PUSH"}})</p>
        {{else}}
        <p><strong>{{localize "CHAT.PSY_RATING"}}:</strong> {{psy.value}}</p>
        {{/if}}
        {{#if psy.hasPhenomena}}
        <p><strong style="color: var(--color-failure)">{{localize "CHAT.HAS_PSYCHIC_PHENOMENA"}}</strong></p>
        {{/if}}
        {{/if}}
        {{#each damages as |damage|}}
            <h3 class="separator">{{localize location}}</h3>
            <p><strong>{{localize "CHAT.DAMAGE"}}:</strong> {{damage.total}} <strong>{{damageType ../damageType}}</strong></p>
            <p><strong>{{localize "CHAT.PENETRATION"}}:</strong> {{penetration}}</p>
            {{#if damage.righteousFury}}
            <p><strong>{{localize "CHAT.RIGHTEOUS_FURY"}}:</strong> {{damage.righteousFury}}</p>
            {{/if}}
        {{/each}}
    </div>
</div>