<form class="{{cssClass}}" autocomplete="off">
    <div class="npc">
        <div class="header border">
            <div class="flex row">
                <div class="avatar">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                </div>
                <div class="flex column grow">
                    <div class="name header-row">
                        <label>{{localize "BIO.NAME"}}</label>
                        <input name="name" type="text" value="{{actor.name}}" />
                    </div>
                    <div class="header-row" style="height: 22px">
                        <div class="type">
                            <label>{{localize "SHIP.BIO.SHIPTYPE"}}</label>
                            <select name="system.shiptype" style="margin-left: 14px">
                                {{#select system.shiptype}}
                                    <option value="raider">{{localize "SHIP.RAIDER"}}</option>
                                    <option value="transport">{{localize "SHIP.TRANSPORT"}}</option>
                                    <option value="frigate">{{localize "SHIP.FRIGATE"}}</option>
                                    <option value="lightcruiser">{{localize "SHIP.LIGHT"}}</option>
                                    <option value="cruiser">{{localize "SHIP.CRUISER"}}</option>
                                    <option value="battlecruiser">{{localize "SHIP.BATTLECRUISER"}}</option>
                                    <option value="grandcruiser">{{localize "SHIP.GRAND"}}</option>
                                    <option value="battleship">{{localize "SHIP.BATTLESHIP"}}</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="threat-level">
                            <label>{{localize "SHIP.BIO.SHIPCLASS"}}</label>
                            <input style="margin-left: 43px" name="system.shipclass" type="text" value="{{system.shipclass}}" />
                        </div>
                        <div class="fate">
                            <label>{{localize "SHIP.POP"}}</label>
                            <input style="margin-left: 20px" name="system.crewpop.value" type="number" value="{{system.crewpop.value}}" data-dtype="Number" />
                            /
                            <input name="system.crewpop.max" type="number" value="{{system.crewpop.max}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="header-row">
                        <div class="faction">
                            <label>{{localize "BIO.FACTION"}}</label>
                            <input style="margin-left: 10px" name="system.faction" type="text" value="{{system.faction}}" />
                        </div>
                        <div class="subfaction">
                            <label>{{localize "BIO.SUBFACTION"}}</label>
                            <input style="margin-left: 17px" name="system.subfaction" type="text" value="{{system.subfaction}}" />
                        </div>
                        <div class="fatigue">
                            <label>{{localize "SHIP.MORALE"}}</label>
                            <input name="system.crewmorale.value" type="number" value="{{system.crewmorale.value}}" data-dtype="Number" />
                            /
                            <input name="system.crewmorale.max" type="number" value="{{system.crewmorale.max}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs flex row" data-group="primary">
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="combat">{{localize "TAB.COMBAT"}}</b>
            <b class="item" data-tab="abilities">{{localize "TAB.ABILITIES"}}</b>
            <b class="item" data-tab="gear">{{localize "TAB.COMPONENTS"}}</b>
            <b class="item" data-tab="progression">{{localize "TAB.ADVANCES"}}</b>
            <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="stats">
                {{> systems/dark-heresy/template/sheet/actor/tab/npc-stats.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/dark-heresy/template/sheet/actor/tab/starship-combat.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="abilities">
                {{> systems/dark-heresy/template/sheet/actor/tab/abilities.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/dark-heresy/template/sheet/actor/tab/starship-components.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="progression">
                {{> systems/dark-heresy/template/sheet/actor/tab/starship-progression.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="notes">
                {{> systems/dark-heresy/template/sheet/actor/tab/starship-notes.html}}
            </div>
        </div>
    </div>
</form>