.dark-heresy .acolyte {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dark-heresy .acolyte .header .home-world,
.dark-heresy .acolyte .header .background {
    flex-basis: 40%;
}

.dark-heresy .acolyte .header .role,
.dark-heresy .acolyte .header .elite {
    flex-basis: 32%;
}

.dark-heresy .acolyte .header .fate,
.dark-heresy .acolyte .header .fatigue {
    flex-basis: 23%;
}

.dark-heresy .acolyte .header .home-world input,
.dark-heresy .acolyte .header .background input,
.dark-heresy .acolyte .header .role input,
.dark-heresy .acolyte .header .elite input {
    width: 11em;
}

.dark-heresy .acolyte .header .fate input,
.dark-heresy .acolyte .header .fatigue input {
    width: 2em;
    margin: 0 5px;
}