<form class="{{cssClass}}" autocomplete="off">
    <div class="header border">
        <div class="flex row">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
            <div class="flex column grow justify-center">
                <div class="name header-row">
                    <label>{{localize "AMMUNITION.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="sheet-tabs tabs flex row" data-group="primary">
        <b class="item" data-tab="data">{{localize "TAB.DATA"}}</b>
        <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
    </div>

    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="data">
            <div class="stats border">
                <h1>{{localize "TITLE.STATS"}}</h1>
                <div class="stats-row">
                    <div class="stat weapon">
                        <label>{{localize "AMMUNITION.WEAPON"}}</label>
                        <input name="data.weapon" type="text" value="{{data.weapon}}" />
                    </div>
                    <div class="stat quantity">
                        <label>{{localize "AMMUNITION.QUANTITY"}}</label>
                        <input name="data.quantity" type="number" value="{{data.quantity}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="stats-row">
                    <div class="stat damage">
                        <label>{{localize "AMMUNITION.DAMAGE"}}</label>
                        <input name="data.effect.damage.modifier" type="text" value="{{data.effect.damage.modifier}}" />
                        <select name="data.effect.damage.type">
                            {{#select data.effect.damage.type}}
                            <option value="energy">{{localize "DAMAGE_TYPE.ENERGY"}}</option>
                            <option value="impact">{{localize "DAMAGE_TYPE.IMPACT"}}</option>
                            <option value="rending">{{localize "DAMAGE_TYPE.RENDING"}}</option>
                            <option value="explosive">{{localize "DAMAGE_TYPE.EXPLOSIVE"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="stat penetration">
                        <label>{{localize "AMMUNITION.PENETRATION"}}</label>
                        <input name="data.effect.penetration" type="text" value="{{data.effect.penetration}}" />
                    </div>
                    <div class="stat attack">
                        <label>{{localize "AMMUNITION.ATTACK"}}</label>
                        <input name="data.effect.attack.modifier" type="number" value="{{data.effect.attack.modifier}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="stats-row">
                    <div class="stat craftsmanship">
                        <label>{{localize "AMMUNITION.CRAFTSMANSHIP"}}</label>
                        <select name="data.craftsmanship">
                            {{#select data.craftsmanship}}
                                <option value="poor">{{localize "CRAFTSMANSHIP.POOR"}}</option>
                                <option value="common">{{localize "CRAFTSMANSHIP.COMMON"}}</option>
                                <option value="good">{{localize "CRAFTSMANSHIP.GOOD"}}</option>
                                <option value="best">{{localize "CRAFTSMANSHIP.BEST"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="stat availability">
                        <label>{{localize "AMMUNITION.AVAILABILITY"}}</label>
                        <select name="data.availability">
                            {{#select data.availability}}
                                <option value="ubiquitous">{{localize "AVAILABILITY.UBIQUITOUS"}}</option>
                                <option value="abundant">{{localize "AVAILABILITY.ABUNDANT"}}</option>
                                <option value="plentiful">{{localize "AVAILABILITY.PLENTIFUL"}}</option>
                                <option value="common">{{localize "AVAILABILITY.COMMON"}}</option>
                                <option value="average">{{localize "AVAILABILITY.AVERAGE"}}</option>
                                <option value="scarce">{{localize "AVAILABILITY.SCARCE"}}</option>
                                <option value="rare">{{localize "AVAILABILITY.RARE"}}</option>
                                <option value="very-rare">{{localize "AVAILABILITY.VERY_RARE"}}</option>
                                <option value="extremely-rare">{{localize "AVAILABILITY.EXTREMELY_RARE"}}</option>
                                <option value="near-unique">{{localize "AVAILABILITY.NEAR_UNIQUE"}}</option>
                                <option value="unique">{{localize "AVAILABILITY.UNIQUE"}}</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="stat weight">
                        <label>{{localize "AMMUNITION.WEIGHT"}}</label>
                        <input name="data.weight" type="number" value="{{data.weight}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="stats-row">
                    <div class="stat special">
                        <label>{{localize "AMMUNITION.SPECIAL"}}</label>
                        <input name="data.effect.special" type="text" value="{{data.effect.special}}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tab" data-group="primary" data-tab="notes">
            <div class="notes-editor border">
                <h1>{{localize "TITLE.NOTES"}}</h1>
                <div style="height: 132px; width: 100%">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
</form>