<div class="dark-heresy dialog">
    <div class="flex row wrap background border" style="flex-basis: 100%;margin-bottom: 5px">
        <h1>{{localize name}}</h1>
        <div class="wrapper">
            <label>{{localize "DIALOG.TARGET"}}</label>
            <input id="target" type="number" value="{{baseTarget}}" data-dtype="Number"/>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.MODIFIER"}}</label>
            <input id="modifier" type="text" value="{{modifier}}" />
        </div>
    </div>
</div>
<script>
    $(".wrapper input").focusin(function () {
        $(this).select();
    });
</script>