<div class="flex wrap gear">
    <div class="encumbrance border">
        <h1>{{localize "TITLE.ENCUMBRANCE"}}</h1>
        <div class="information">
            <div class="current">
                <label>{{localize "ENCUMBRANCE.CURRENT"}}</label>
                <input type="number" value="{{data.encumbrance.value}}" data-dtype="Number" disabled />
            </div>
            <div class="max">
                <label>{{localize "ENCUMBRANCE.MAX"}}</label>
                <input type="number" value="{{data.encumbrance.max}}" data-dtype="Number" disabled />
            </div>
        </div>
    </div>
    <div class="all-gear border">
        <h1>{{localize "TITLE.EQUIPMENT"}}</h1>
        <div class="item-list">
            <div class="flex header">
                <b class="name">{{localize "WEAPON.HEADER"}}</b>
                <b class="class">{{localize "WEAPON.CLASS"}}</b>
                <b class="damage">{{localize "WEAPON.DAMAGE"}}</b>
                <b class="type">{{localize "WEAPON.DAMAGE_TYPE"}}</b>
                <b class="clip">{{localize "WEAPON.CLIP"}}</b>
                <b class="weight">{{localize "WEAPON.WEIGHT"}}</b>
                <a class="button item-create" title="Add Weapon" data-type="weapon"><i class="fas fa-plus"></i></a>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isWeapon}}
                        <div class="gear item flex row" data-item-id="{{item._id}}">
                            <div class="flex name item-edit">
                                <div class="image-container">
                                    <div class="image" style="background-image: url('{{item.img}}')"></div>
                                </div>
                                <div>{{item.name}}</div>
                            </div>
                            <div class="class">{{weaponClass item.data.class}}</div>
                            <div class="damage">{{item.data.damage}}</div>
                            <div class="type">{{damageType item.data.damageType}}</div>
                            <div class="clip">{{clip item.data.clip}}</div>
                            <div class="weight">{{item.data.weight}}</div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Weapon"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="item-list">
            <div class="flex header">
                <b class="name">{{localize "WEAPON_MODIFICATION.HEADER"}}</b>
                <b class="installed">{{localize "WEAPON_MODIFICATION.INSTALLED"}}</b>
                <b class="upgrade">{{localize "WEAPON_MODIFICATION.UPGRADES"}}</b>
                <b class="weight">{{localize "WEAPON_MODIFICATION.WEIGHT"}}</b>
                <a class="button item-create" title="Add Weapon Modification" data-type="weaponModification"><i class="fas fa-plus"></i></a>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isWeaponModification}}
                        <div class="gear item flex row" data-item-id="{{item._id}}">
                            <div class="flex name item-edit">
                                <div class="image-container">
                                    <div class="image" style="background-image: url('{{item.img}}')"></div>
                                </div>
                                <div>{{item.name}}</div>
                            </div>
                            <div class="installed">{{isInstalled item.data.installed}}</div>
                            <div class="upgrade">{{item.data.upgrades}}</div>
                            <div class="weight">{{item.data.weight}}</div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Weapon Modification"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="item-list">
            <div class="flex header">
                <b class="name">{{localize "AMMUNITION.HEADER"}}</b>
                <b class="weapon">{{localize "AMMUNITION.WEAPON"}}</b>
                <b class="quantity">{{localize "AMMUNITION.QUANTITY"}}</b>
                <b class="weight">{{localize "AMMUNITION.WEIGHT"}}</b>
                <a class="button item-create" title="Add Ammunition" data-type="ammunition"><i class="fas fa-plus"></i></a>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isAmmunition}}
                        <div class="gear item flex row" data-item-id="{{item._id}}">
                        <div class="flex name item-edit">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div>{{item.name}}</div>
                        </div>
                        <div class="weapon">{{item.data.weapon}}</div>
                        <div class="quantity">{{item.data.quantity}}</div>
                        <div class="weight">{{item.data.weight}}</div>
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Ammunition"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="item-list">
            <div class="flex header">
                <b class="name">{{localize "ARMOUR.HEADER"}}</b>
                <b class="part">{{localize "ARMOUR.PART"}}</b>
                <b class="weight">{{localize "ARMOUR.WEIGHT"}}</b>
                <a class="button item-create" title="Add Armour" data-type="armour"><i class="fas fa-plus"></i></a>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isArmour}}
                        <div class="gear item flex row" data-item-id="{{item._id}}">
                            <div class="flex name item-edit">
                                <div class="image-container">
                                    <div class="image" style="background-image: url('{{item.img}}')"></div>
                                </div>
                                <div>{{item.name}}</div>
                            </div>
                            <div class="part">{{part item.data.part}}</div>
                            <div class="weight">{{item.data.weight}}</div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Armour"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="item-list">
            <div class="flex header">
                <b class="name">{{localize "FORCE_FIELD.HEADER"}}</b>
                <b class="craftsmanship">{{localize "FORCE_FIELD.CRAFTSMANSHIP"}}</b>
                <b class="weight">{{localize "FORCE_FIELD.WEIGHT"}}</b>
                <a class="button item-create" title="Add Force Field" data-type="forceField"><i class="fas fa-plus"></i></a>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isForceField}}
                        <div class="gear item flex row" data-item-id="{{item._id}}">
                        <div class="flex name item-edit">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div>{{item.name}}</div>
                        </div>
                        <div class="craftsmanship">{{craftsmanship item.data.craftsmanship}}</div>
                        <div class="weight">{{item.data.weight}}</div>
                        <div class="button">
                            <a class="item-control item-delete" title="Delete Force Field"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="item-list">
            <div class="flex header">
                <b class="name">{{localize "GEAR.HEADER"}}</b>
                <b class="short-description">{{localize "GEAR.SHORT_DESCRIPTION"}}</b>
                <b class="weight">{{localize "GEAR.WEIGHT"}}</b>
                <a class="button item-create" title="Add Gear" data-type="gear"><i class="fas fa-plus"></i></a>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isGear}}
                        <div class="gear item flex row" data-item-id="{{item._id}}">
                            <div class="flex name item-edit">
                                <div class="image-container">
                                    <div class="image" style="background-image: url('{{item.img}}')"></div>
                                </div>
                                <div>{{item.name}}</div>
                            </div>
                            <div class="short-description">{{item.data.shortDescription}}</div>
                            <div class="weight">{{item.data.weight}}</div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Gear"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="item-list">
            <div class="flex header">
                <b class="name">{{localize "DRUG.HEADER"}}</b>
                <b class="short-description">{{localize "DRUG.SHORT_DESCRIPTION"}}</b>
                <b class="weight">{{localize "DRUG.WEIGHT"}}</b>
                <a class="button item-create" title="Add Drug" data-type="drug"><i class="fas fa-plus"></i></a>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isDrug}}
                        <div class="gear item flex row" data-item-id="{{item._id}}">
                            <div class="flex name item-edit">
                                <div class="image-container">
                                    <div class="image" style="background-image: url('{{item.img}}')"></div>
                                </div>
                                <div>{{item.name}}</div>
                            </div>
                            <div class="short-description">{{item.data.shortDescription}}</div>
                            <div class="weight">{{item.data.weight}}</div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Drug"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="item-list">
            <div class="flex header">
                <b class="name">{{localize "TOOL.HEADER"}}</b>
                <b class="short-description">{{localize "TOOL.SHORT_DESCRIPTION"}}</b>
                <b class="weight">{{localize "TOOL.WEIGHT"}}</b>
                <a class="button item-create" title="Add Tool" data-type="tool"><i class="fas fa-plus"></i></a>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isTool}}
                        <div class="gear item flex row" data-item-id="{{item._id}}">
                            <div class="flex name item-edit">
                                <div class="image-container">
                                    <div class="image" style="background-image: url('{{item.img}}')"></div>
                                </div>
                                <div>{{item.name}}</div>
                            </div>
                            <div class="short-description">{{item.data.shortDescription}}</div>
                            <div class="weight">{{item.data.weight}}</div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Tool"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="item-list">
            <div class="flex header">
                <b class="name">{{localize "CYBERNETIC.HEADER"}}</b>
                <b class="installed">{{localize "CYBERNETIC.INSTALLED"}}</b>
                <b class="cybernetic-craftsmanship">{{localize "CYBERNETIC.CRAFTSMANSHIP"}}</b>
                <b class="weight">{{localize "CYBERNETIC.WEIGHT"}}</b>
                <a class="button item-create" title="Add Cybernetic" data-type="cybernetic"><i class="fas fa-plus"></i></a>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isCybernetic}}
                        <div class="gear item flex row" data-item-id="{{item._id}}">
                            <div class="flex name item-edit">
                                <div class="image-container">
                                    <div class="image" style="background-image: url('{{item.img}}')"></div>
                                </div>
                                <div>{{item.name}}</div>
                            </div>
                            <div class="installed">{{isInstalled item.data.installed}}</div>
                            <div class="cybernetic-craftsmanship">{{craftsmanship item.data.craftsmanship}}</div>
                            <div class="weight">{{item.data.weight}}</div>
                            <div class="button">
                                <a class="item-control item-delete" title="Delete Cybernetic"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>